/* NSPDR THEME
---------------------------------------------- */

.nspdr-green { color: #163 !important; }	/* 1 */
.nspdr-brown { color: #a62 !important; }	/* 2 */
.nspdr-beige { color: #985 !important; }	/* 3 */
.nspdr-greyy { color: #887 !important; }	/* 4 */

/* .nspdr-green-bg { background-color: #274 !important; } */
/* .nspdr-brown-bg { background-color: #963 !important; } */
/* .nspdr-beige-bg { background-color: #985 !important; } */
/* .nspdr-greyy-bg { background-color: #887 !important; } */

.btn-nspdr1 {
  color: #fff;
  background-color: #163;
  border-color: #163;
}
.btn-nspdr1:hover {
  color: #fff;
  background-color: #0e4c26;
  border-color: #0c4120;
}
.btn-nspdr1.focus,
.btn-nspdr1:focus {
  box-shadow: 0 0 0 .2rem rgba(17,102,51,.5);
}
.btn-nspdr1.disabled,
.btn-nspdr1:disabled {
  color: #fff;
  background-color: #163;
  border-color: #163;
}
.btn-nspdr1:not(:disabled):not(.disabled).active,
.btn-nspdr1:not(:disabled):not(.disabled):active,
.show > .btn-nspdr1.dropdown-toggle {
  color: #fff;
  background-color: #0c4120;
  border-color: #0a391c;
}
.btn-nspdr1:not(:disabled):not(.disabled).active:focus,
.btn-nspdr1:not(:disabled):not(.disabled):active:focus,
.show > .btn-nspdr1.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(17,102,51,.5);
}
.btn-nspdr2 {
  color: #fff;
  background-color: #a62;
  border-color: #a62;
}
.btn-nspdr2:hover {
  color: #fff;
  background-color: #91571d;
  border-color: #88521b;
}
.btn-nspdr2.focus,
.btn-nspdr2:focus {
  box-shadow: 0 0 0 .2rem rgba(170,102,34,.5);
}
.btn-nspdr2.disabled,
.btn-nspdr2:disabled {
  color: #fff;
  background-color: #a62;
  border-color: #a62;
}
.btn-nspdr2:not(:disabled):not(.disabled).active,
.btn-nspdr2:not(:disabled):not(.disabled):active,
.show > .btn-nspdr2.dropdown-toggle {
  color: #fff;
  background-color: #88521b;
  border-color: #804c19;
}
.btn-nspdr2:not(:disabled):not(.disabled).active:focus,
.btn-nspdr2:not(:disabled):not(.disabled):active:focus,
.show > .btn-nspdr2.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(170,102,34,.5);
}
.btn-nspdr3 {
  color: #fff;
  background-color: #a95;
  border-color: #a95;
}
.btn-nspdr3:hover {
  color: #fff;
  background-color: #918349;
  border-color: #877a44;
}
.btn-nspdr3.focus,
.btn-nspdr3:focus {
  box-shadow: 0 0 0 .2rem rgba(170,153,85,.5);
}
.btn-nspdr3.disabled,
.btn-nspdr3:disabled {
  color: #fff;
  background-color: #a95;
  border-color: #a95;
}
.btn-nspdr3:not(:disabled):not(.disabled).active,
.btn-nspdr3:not(:disabled):not(.disabled):active,
.show > .btn-nspdr3.dropdown-toggle {
  color: #fff;
  background-color: #877a44;
  border-color: #877a44;
}
.btn-nspdr3:not(:disabled):not(.disabled).active:focus,
.btn-nspdr3:not(:disabled):not(.disabled):active:focus,
.show > .btn-nspdr3.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(170,153,85,.5);
}
.btn-outline-nspdr1 {
  color: #163;
  /* color: #274; */
  background-color: #fff;
  background-image: none;
  border-color: #163;
}
.btn-outline-nspdr1:hover {
  color: #fff;
  background-color: #163;
  border-color: #163;
  /* background-color: #274; */
  /* border-color: #274; */
}
.btn-outline-nspdr1.focus,
.btn-outline-nspdr1:focus {
  box-shadow: 0 0 0 .2rem rgba(17,102,51,.5);
}
.btn-outline-nspdr1.disabled,
.btn-outline-nspdr1:disabled {
  color: #163;
  background-color: transparent;
}
.btn-outline-nspdr1:not(:disabled):not(.disabled).active,
.btn-outline-nspdr1:not(:disabled):not(.disabled):active,
.show > .btn-outline-nspdr1.dropdown-toggle {
  color: #fff;
  background-color: #163;
  border-color: #163;
}
.btn-outline-nspdr1:not(:disabled):not(.disabled).active:focus,
.btn-outline-nspdr1:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-nspdr1.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(17,102,51,.5);
}
.btn-outline-nspdr2 {
  color: #a62;
  background-color: #fff;
  background-image: none;
  border-color: #a62;
}
.btn-outline-nspdr2:hover {
  color: #fff;
  background-color: #a62;
  border-color: #a62;
}
.btn-outline-nspdr2.focus,
.btn-outline-nspdr2:focus {
  box-shadow: 0 0 0 .2rem rgba(170,102,34,.5);
}
.btn-outline-nspdr2.disabled,
.btn-outline-nspdr2:disabled {
  color: #a62;
  background-color: transparent;
}
.btn-outline-nspdr2:not(:disabled):not(.disabled).active,
.btn-outline-nspdr2:not(:disabled):not(.disabled):active,
.show > .btn-outline-nspdr2.dropdown-toggle {
  color: #fff;
  background-color: #a62;
  border-color: #a62;
}
.btn-outline-nspdr2:not(:disabled):not(.disabled).active:focus,
.btn-outline-nspdr2:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-nspdr2.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(170,102,34,.5);
}
.btn-outline-nspdr3 {
  /* color: #877a44; */
  color: #918349;
  background-color: #fff;
  background-image: none;
  border-color: #a95;
}
.btn-outline-nspdr3:hover {
  color: #fff;
  background-color: #a95;
  border-color: #a95;
}
.btn-outline-nspdr3.focus,
.btn-outline-nspdr3:focus {
  box-shadow: 0 0 0 .2rem rgba(170,153,85,.5);
}
.btn-outline-nspdr3.disabled,
.btn-outline-nspdr3:disabled {
  color: #a95;
  background-color: transparent;
}
.btn-outline-nspdr3:not(:disabled):not(.disabled).active,
.btn-outline-nspdr3:not(:disabled):not(.disabled):active,
.show > .btn-outline-nspdr3.dropdown-toggle {
  color: #fff;
  background-color: #a95;
  border-color: #a95;
  /* border-color: #985; */
}
.btn-outline-nspdr3:not(:disabled):not(.disabled).active:focus,
.btn-outline-nspdr3:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-nspdr3.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(170,153,85,.5);
  /* box-shadow: 0 0 0 .2rem rgba(153,136,85,.5); */
}

.bg-nspdr1 {
  background-color: #163 !important;
}
a.bg-nspdr1:focus,
a.bg-nspdr1:hover,
button.bg-nspdr1:focus,
button.bg-nspdr1:hover {
  background-color: #0c4120 !important;
}
.bg-nspdr2 {
  background-color: #a62 !important;
}
a.bg-nspdr2:focus,
a.bg-nspdr2:hover,
button.bg-nspdr2:focus,
button.bg-nspdr2:hover {
  background-color: #88521b !important;
}
.bg-nspdr3 {
  background-color: #a95 !important;
}
a.bg-nspdr3:focus,
a.bg-nspdr3:hover,
button.bg-nspdr3:focus,
button.bg-nspdr3:hover {
  background-color: #877a44 !important;
}
.bg-nspdr4 {
  background-color: #889 !important;
}
a.bg-nspdr4:focus,
a.bg-nspdr4:hover,
button.bg-nspdr4:focus,
button.bg-nspdr4:hover {
  background-color: #717180 !important;
}
.border-nspdr1 {
  border-color: #163 !important;
}
.border-nspdr2 {
  border-color: #a62 !important;
}
.border-nspdr3 {
  border-color: #a95 !important;
}
.border-nspdr4 {
  border-color: #889 !important;
}
.text-nspdr1 {
  color: #163 !important;
}
a.text-nspdr1:focus,
a.text-nspdr1:hover {
  color: #0c4120 !important;
}
.text-nspdr2 {
  color: #a62 !important;
}
a.text-nspdr2:focus,
a.text-nspdr2:hover {
  color: #88521b !important;
}
.text-nspdr3 {
  /* color: #a95 !important; */
  color: #985 !important;
}
a.text-nspdr3:focus,
a.text-nspdr3:hover {
  color: #877a44 !important;
}
.text-nspdr4 {
  color: #889 !important;
}
a.text-nspdr4:focus,
a.text-nspdr4:hover {
  color: #717180 !important;
}

/* =========================================== */

.browser-icon {
  width: 64px;
  height: 100%;
}
.icon-50 {
  width: 50px;
  height: auto;
}
.icon-100 {
  width: 100px;
  height: auto;
}
.icon-125 {
  width: 125px;
  height: auto;
}
.icon-150 {
  /* width: 150px; */
  max-width: 150px;
  height: auto;
}
.icon-175 {
  width: 175px;
  height: auto;
}

.db-block .db-box {
  background: #fff;
  color: #444;
  padding: 60px 40px;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .db-block .db-box.alt {
    padding: 60px 20px;
  }
}
.db-block.db-bg {
  background-size: cover;
  background-position: center center;
}
.db-block.db-bg .db-box {
  /* -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem; */
  border-radius: .5rem .5rem 0 0;
}

.db-block .db-touch {
  border-top: solid .3125rem #528bff !important;
}
.db-block .db-touch1 {
  border-top: solid .3125rem #274 !important;
  border-bottom: solid .3125rem #274 !important;
}
.db-block .db-touch2 {
  border-top: solid .3125rem #887 !important;
  border-bottom: solid .3125rem #887 !important;
}
.db-block .db-touch3 {
  border-top: solid .3125rem #963 !important;
  border-bottom: solid .3125rem #963 !important;
}
.db-block .db-touch4 {
  border-top: solid .3125rem #a96 !important;
  border-bottom: solid .3125rem #a96 !important;
}

.db-block img.db-icon {
  width: auto;
  width: 60px;
}
.db-block img.db-icon-round {
  width: auto;
  width: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
.db-block h4,
.db-block h3,
.db-block h2,
.db-block h1 {
  margin-top: 1rem;
  margin-bottom: .5rem;
}
.sl-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  z-index: 2;
}


.box {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 .15rem .75rem .125rem rgba(15,15,15,.15);
  -webkit-transition: all .6s cubic-bezier(.165,.84,.44,1);
  transition: all .6s cubic-bezier(.165,.84,.44,1);
}
.box::after {
  content: '';
  border-radius: .5rem;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 .25rem .75rem .3125rem rgba(20,20,20,.2);
  opacity: 0;
  -webkit-transition: all .6s cubic-bezier(.165,.84,.44,1);
  transition: all .6s cubic-bezier(.165,.84,.44,1);
}
.box:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.box:hover::after {
  opacity: 1;
}


.cardpanel .profile {
	background-color: #fff;
  border: .05rem solid rgba(0,0,0,.1);
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
	padding: .75rem;
  border-radius: .5rem;
 /* box-shadow: 0 .375rem 1.25rem .005rem rgba(0,0,0,.25),
              0 .625rem .625rem .005rem rgba(0,0,0,.22),
              0 -.0875rem .1875rem -.0625rem rgba(0,0,0,.12); */
/* box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .625rem .8125rem -.0625rem rgba(0,0,0,.24); */
  box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .0625rem .125rem rgba(0,0,0,.24);
  transition: all .3s cubic-bezier(.55,.44,.44,.55);
  width: 100%;
  min-height: 270px;
}
.cardpanel .profile:hover {
  /* box-shadow: 0 .375rem 1.25rem .025rem,
              0 .625rem .625rem -.05rem,
              0 -.0625rem .1875rem -.0625rem; */
  /* box-shadow: 0 .375rem 1.25rem .005rem rgba(0,0,0,.25),
              0 .625rem .625rem .005rem rgba(0,0,0,.22),
              0 -.0875rem .1875rem -.0625rem rgba(0,0,0,.12); */
  box-shadow: 0 1.6875rem 1.5rem -.875rem rgba(0,0,0,.33),
              0 2.5rem 4.8125rem 0 rgba(0,0,0,.22);
}


.card.cardbox-raised {
  border-color: #ddd !important;
  position: relative;
  box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .0625rem .125rem rgba(0,0,0,.24);
  /* box-shadow: 0 .5rem .625rem .0625rem rgba(0,0,0,.14),
							0 -.075rem .875rem .125rem rgba(0,0,0,.12),
							0 .0125rem .125rem -.1875rem rgba(0,0,0,.2); */
  /* box-shadow: 0 1rem 1.5rem .125rem rgba(0,0,0,.14),
							0 .375rem 1.875rem .3125rem rgba(0,0,0,.12),
							0 .5rem .625rem -.3125rem rgba(0,0,0,.2); */
}
.card.cardbox-raised::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  box-shadow: 0 1rem 1.5rem .125rem rgba(0,0,0,.14),
							0 .375rem 1.875rem .3125rem rgba(0,0,0,.12),
							0 .5rem .625rem -.3125rem rgba(0,0,0,.2);
  opacity: 0;
	transition: opacity .2s ease-in; }
.card.cardbox-raised:hover::after {
  opacity: 1; }


.card.curved-bezier {
  position: relative;
  /* background-color: rgba(123,123,123,.123);
  transition: background-color .3s ease-in; */
  box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .0625rem .125rem rgba(0,0,0,.24); }
/* .card.curved-bezier:hover {
  background-color: #fff !important; } */

.card.curved-bezier::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  border-radius: .5rem;
  box-shadow: 0 .375rem .9375rem .005rem rgba(0,0,0,.25),
              0 .625rem .625rem .005rem rgba(0,0,0,.22),
              0 -.125rem .1875rem -.0625rem rgba(7,7,7,.21);
  opacity: 0;
  transition: opacity .2s cubic-bezier(.55,.44,.44,.55); }
.card.curved-bezier:hover::after {
  opacity: 1; }


.card.cardpanel-raised {
  border: .05rem solid rgba(0,0,0,.1);
  /* box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .0625rem .3125rem rgba(0,0,0,.24); */
  box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .0625rem .125rem rgba(0,0,0,.24);
  transition: all .3s cubic-bezier(.55,.44,.44,.55);
}
.card.cardpanel-raised:hover {
  box-shadow: 0 1.6875rem 1.5rem -.875rem rgba(0,0,0,.33),
              0 2.875rem 4.8125rem 0 rgba(0,0,0,.22);
}

.card.panel-raised {
  /* border: .05rem solid rgba(0,0,0,.1); */
  box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .0625rem .125rem rgba(0,0,0,.24);
  transition: all .3s cubic-bezier(.55,.44,.44,.55);
}
.card.panel-raised:hover {
  box-shadow: 0 1.6875rem 1.5rem -.875rem,
              0 2.875rem 4.8125rem 0 rgba(0,0,0,.22);
}

.card.cardpanel-shadow {
  -webkit-box-shadow: 0 1.6875rem 1.5rem -.875rem rgba(0,0,0,.33),
              0 2.875rem 4.8125rem 0 rgba(0,0,0,.22);
  -moz-box-shadow: 0 1.6875rem 1.5rem -.875rem rgba(0,0,0,.33),
              0 2.875rem 4.8125rem 0 rgba(0,0,0,.22);
  box-shadow: 0 1.6875rem 1.5rem -.875rem rgba(0,0,0,.33),
              0 2.875rem 4.8125rem 0 rgba(0,0,0,.22);
}
.card.cardpanel-shadow-sm {
  -webkit-box-shadow: 0 1.275rem 1.5rem -.75rem rgba(0,0,0,.33),
              0 1.875rem 3.125rem 0 rgba(0,0,0,.22);
  -moz-box-shadow: 0 1.275rem 1.5rem -.75rem rgba(0,0,0,.33),
              0 1.875rem 3.125rem 0 rgba(0,0,0,.22);
  box-shadow: 0 1.275rem 1.5rem -.75rem rgba(0,0,0,.33),
              0 1.875rem 3.125rem 0 rgba(0,0,0,.22);
}
.panel-shadow-sm {
  -webkit-box-shadow: 0 1.275rem 1.5rem -.75rem rgba(0,0,0,.33),
              0 1.875rem 3.125rem 0 rgba(0,0,0,.22) !important;
  -moz-box-shadow: 0 1.275rem 1.5rem -.75rem rgba(0,0,0,.33),
              0 1.875rem 3.125rem 0 rgba(0,0,0,.22) !important;
  box-shadow: 0 1.275rem 1.5rem -.75rem rgba(0,0,0,.33),
              0 1.875rem 3.125rem 0 rgba(0,0,0,.22) !important;
}
.shadow-raised {
  -webkit-box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .0625rem .125rem rgba(0,0,0,.24) !important;
  -moz-box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .0625rem .125rem rgba(0,0,0,.24) !important;
  box-shadow: 0 .3125rem .1875rem rgba(0,0,0,.12),
              0 .0625rem .125rem rgba(0,0,0,.24) !important;
}


/* .bg-dksilver { background-color: #aaa !important; } */
/* .bg-ltsilver { background-color: #ccc !important; } */
/* .bg-moongrey { background-color: #eee !important; } */
/* .bg-nongreen { background-color: #ddc !important; } */

.bg-linear {
  background: linear-gradient(180deg, #ddd 33%, #eee 67%);
  /* background: linear-gradient(180deg, #ccc 33%, #ddd 67%, #eee 100%); */
  /* background: linear-gradient(180deg, #ccc 25%, #ddd 50%, #eee 75%); */
}
.bg-linear-sm {
  background: linear-gradient(180deg, #eee 50%, #f5f5f5 75%);
}
.bg-linearbox {
  background: linear-gradient(to bottom, #f2f2f2, #fafafa 10%, #fafafa 85%, #eee 100%) !important;
}

.bg-greylinear {
  background-image: linear-gradient(to bottom, #f5f5f5 67%, #ccc 100%) !important;
}
.bg-slatelinear {
  background: linear-gradient(180deg, rgba(218,224,227,0) 1%, #dae0e3 10%, #dae0e3 90%, rgba(218,224,227,0) 99%);
}
.bg-repeater {
  background-color: snow !important;
}


.mask-10 {
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 5%);
  mask-image: linear-gradient(to top, transparent 0%, black 5%); }
.mask-20 {
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 20%);
  mask-image: linear-gradient(to top, transparent 5%, black 20%); }
.mask-25 {
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 25%);
  mask-image: linear-gradient(to top, transparent 5%, black 25%); }

.page-header {
  min-width: 100%;
  height: 90vh;
  overflow: hidden;
  /* z-index: -1; */
  background-color: #0a321e;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  /* -ms-flex-pack: justify;
  justify-content: space-between; */
  margin-top: -40px;
}
.page-header.--small {
  height: 300px;
  /* height: 45vh; */
  background-color: #777;
  /* margin-top: -43px; */
}

.header-filter {
  position: relative;
}
.header-filter::before,
.header-filter::after {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  top: 0; left: 0;
  content: '';
}
.header-filter::before {
  background: rgba(0,0,0,.5);
}
.header-filter .container {
  z-index: 1;
  position: relative;
}
.clear-filter::before {
  background: none;
  /* background-color: rgba(0,0,0,0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto auto;
  background-origin: padding-box;
  background-clip: border-box; */
}
.header-filter > .container {
  margin-top: -3rem !important;
}

.page-hero {
  position: relative;
  z-index: -1;
  min-width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: #777;
  /* border: 0; */
  margin: 0;
  padding: 0;
  margin-top: -40px;
}
.page-hero.--small {
  height: 45vh;
}
.hero-header {
  position: relative;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  /* align-items: flex-start; */
  /* -ms-flex-pack: justify;
  justify-content: space-between; */
  width: 100%;
  height: 100%;
}
.hero-header::after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
/* .hero-header::before {
  display: block;
  background: rgba(0,0,0,.25);
} */
.hero-header > .container {
  z-index: 1;
  position: relative;
  margin-top: -3rem !important;
  /* margin-top: -7.5rem !important; */
  /* margin-top: -18vh !important; */
}


/* #rdpsn.nspdr-main {
  position: relative;
  z-index: 2;
  background: repeating-radial-gradient(circle, snow, snow 5%, whitesmoke 5%, whitesmoke 10%);
	background-position: bottom center;
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: 100%;
}
#rdpsn.nspdr-main.altX {
  background: repeating-radial-gradient(circle, whitesmoke, whitesmoke 15%, #fafafa 15%, #fafafa 30%) !important;
}
#rdpsn.nspdr-main.alt {
  background: repeating-radial-gradient(circle, #ddd, #ddd 15%, #eee 15%, #eee 30%) !important;
}
#rdpsn.nspdr-main.--raised {
  border-color: #aaa !important;
  padding: .75rem .125rem !important;
  margin: -180px 7.5px 0px;
  border-radius: .75rem !important;
  box-shadow: 0 1.6875rem 1.5rem -.875rem rgba(0,0,0,.33),
              0 2.875rem 4.8125rem 0 rgba(0,0,0,.22);
} */

/* @media (min-width: 576px) {
  #rdpsn.nspdr-main.--raised {
    padding: 1.25rem .5rem !important;
    margin: -180px 10px 0px;
  }
} */
@media (min-width: 768px) {
  /* #rdpsn.nspdr-main.--raised {
    padding: 1.75rem 1rem !important;
    margin: -180px 20px 0px;
  } */
  .page-header.header-filter > .container {
    margin-top: -5rem !important;
  }
  .hero-header > .container {
    margin-top: -5rem !important;
  }
}
@media (min-width: 992px) {
  /* #rdpsn.nspdr-main.--raised {
    padding: 2.5rem 1.5rem !important;
    margin: -210px 30px 0px;
  } */
  .page-header.header-filter > .container {
    margin-top: -7.5rem !important;
  }
  .hero-header > .container {
    margin-top: -7.5rem !important;
  }
}

/* #rdpsn.nspdr-main.--raised.top-line {
  border-top: solid .3875rem #da2 !important;
}
#rdpsn.nspdr-main.--raised.top-line1 {
  border-top: solid .3875rem #274 !important;
}
#rdpsn.nspdr-main.--raised.top-line2 {
  border-top: solid .3875rem #a62 !important;
}
.top-grey-line {
  border-top: solid .3875rem #789 !important;
} */


.green-filter::after {
  background: rgba(47,142,101,.6);
  /* background: linear-gradient(45deg, rgba(47,142,101,.88) 0%, rgba(46,185,125,.45) 100%);
  background: -moz-linear-gradient(135deg, rgba(47,142,101,.88) 0%, rgba(46,185,125,.45) 100%);
  background: -webkit-linear-gradient(135deg, rgba(47,142,101,.88) 0%, rgba(46,185,125,.45) 100%); */
  /* background: linear-gradient(135deg, rgba(0,100,50,.8), rgba(0,50,25,.4)); */
  /* background: linear-gradient(-45deg, rgba(0,150,100,.8), rgba(0,100,50,.4)); */
  background: linear-gradient(180deg, rgba(44,88,44,.8), rgba(10,150,75,.4));
}
.yellow-filter::after {
  background: rgba(221,170,34,.6);
  /* background: linear-gradient(135deg, rgba(221,170,34,.8) 0%, rgba(221,170,34,.4) 100%); */
  /* background: linear-gradient(135deg, rgba(238,136,34,.8) 0%, rgba(238,136,34,.4) 100%); */
  background: linear-gradient(180deg, rgba(170,102,34,.8) 0%, rgba(170,102,34,.4) 100%);
}
.orange-filter::after {
	background: rgba(44,44,44,.4);
	/* background: -webkit-linear-gradient(90deg, rgba(44,44,44,.4), rgba(199,123,34,.8));
	background: -moz-linear-gradient(90deg, rgba(44,44,44,.4), rgba(199,123,34,.8));
	background: -o-linear-gradient(90deg, rgba(44,44,44,.4), rgba(199,123,34,.8)); */
	background: linear-gradient(180deg, rgba(88,66,44,.22), rgba(199,123,34,.8));
	/* background: linear-gradient(180deg, rgba(199,123,34,.8) 0%, rgba(88,66,44,.22) 100%); */
	/* background: linear-gradient(180deg, rgba(88,66,44,.22) 0%, rgba(199,123,34,.8) 100%); */
}
.purple-filter::after {
  background: rgba(100,81,116,.5);
  background: linear-gradient(180deg, rgba(100,81,116,.9), rgba(100,81,116,.1));
}
.brown-filter::after {
  background: rgba(102,85,51,.5);
  /* background: linear-gradient(180deg, rgba(102,85,51,.8) 0%, rgba(170,102,34,.4) 100%); */
  background: linear-gradient(to bottom, rgba(102,85,51,.9) 0%, rgba(102,85,51,.1) 100%);
}
.teal-filter::after {
  background: rgba(102,153,153,.6);
  background: linear-gradient(180deg, rgba(102,153,153,.8) 0%, rgba(102,153,153,.4) 100%);
}
.dark-filter::after {
  background: rgba(85,85,85,.6);
  background: linear-gradient(180deg, rgba(51,51,51,.8) 0%, rgba(51,51,51,.4) 100%);
}
.base-filter::after {
	background: rgba(0,0,0,.5);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.1) 100%);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.1) 100%);
  background: -ms-linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.1) 100%);
  background: -o-linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.1) 100%);
}

.bg-background {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }


/* ============================================================ */


/* NSPDR BACKGROUND
=================== */
.nspdr-background {
  position: relative;
  z-index: 2;
	background-position: bottom center;
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  border-color: #aaa !important;
  margin: 0 7.5px;
  -webkit-border-radius: .75rem !important;
  -moz-border-radius: .75rem !important;
  border-radius: .75rem !important;
  -webkit-box-shadow: 0 1.6875rem 1.5rem -.875rem rgba(0,0,0,.33),
              0 2.875rem 4.8125rem 0 rgba(0,0,0,.22);
  -moz-box-shadow: 0 1.6875rem 1.5rem -.875rem rgba(0,0,0,.33),
              0 2.875rem 4.8125rem 0 rgba(0,0,0,.22);
  box-shadow: 0 1.6875rem 1.5rem -.875rem rgba(0,0,0,.33),
              0 2.875rem 4.8125rem 0 rgba(0,0,0,.22);
  background-color: #fafafa;
  /* background-image: repeating-radial-gradient(circle, #fafafa, #fafafa 10%, #fff 10%, #fff 20%); */
}
.nspdr-background.--alt1 {
  background-image: repeating-radial-gradient(circle, #f5f5f5, #f5f5f5 15%, #fafafa 15%, #fafafa 30%) !important; }
.nspdr-background.--alt2 {
  background-image: repeating-radial-gradient(circle, #e3e3e3, #e3e3e3 15%, #f0f0f0 15%, #f0f0f0 30%) !important; }

/* .nspdr-main .nspdr-section, */
/* .nspdr-background > :not(:first-child) { */
/* .nspdr-background section:not(:first-of-type) {
  padding: 5rem 0;
} */
/* .nspdr-background section:not(:first-of-type) {
  padding: .75rem .125rem !important;
} */
.nspdr-background section.segment {
  width: 100%; height: 100%;
  padding: 1.5rem .125rem;
}
.nspdr-background section.segment:first-of-type {
  padding-top: .75rem;
}
.nspdr-background.--raised {
  margin-top: -120px !important;
}
.nspdr-background > :first-child {
  -webkit-border-top-right-radius: .75rem;
  -webkit-border-top-left-radius: .75rem;
  -moz-border-top-right-radius: .75rem;
  -moz-border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
  border-top-left-radius: .75rem;
}
.nspdr-background > :last-child {
  -webkit-border-bottom-right-radius: .75rem;
  -webkit-border-bottom-left-radius: .75rem;
  -moz-border-bottom-right-radius: .75rem;
  -moz-border-bottom-left-radius: .75rem;
  border-bottom-right-radius: .75rem;
  border-bottom-left-radius: .75rem;
}

@media (min-width: 576px) {
  .nspdr-background {
    margin: 0 10px;
  }
  .nspdr-background.--raised {
    margin-top: -135px !important;
  }
  .nspdr-background section.segment {
    padding: 2rem .5rem;
  }
}
@media (min-width: 768px) {
  .nspdr-background {
    margin: 0 20px;
  }
  .nspdr-background.--raised {
    margin-top: -150px !important;
  }
  .nspdr-background section.segment {
    padding: 2.5rem 1rem;
  }
}
@media (min-width: 992px) {
  .nspdr-background {
    margin: 0 30px;
  }
  .nspdr-background.--raised {
    margin-top: -165px !important;
  }
  .nspdr-background section.segment {
    padding: 3.25rem 1.5rem;
  }
}
@media (min-width: 1200px) {
  .nspdr-background {
    margin: 0 30px;
  }
  .nspdr-background.--raised {
    margin-top: -180px !important;
  }
  .nspdr-background section.segment {
    padding: 3.75rem 1.5rem;
  }
}
@media (max-width: 480px) and (orientation: landscape) {
  .nspdr-background.--raised {
    margin-top: -30px !important;
  }
}

.top-yello {
  border-top: solid .45rem #da2 !important;
  border-top: solid .45rem #ea1 !important;
}
.top-orang {
  border-top: solid .4rem #e63 !important;
}

.top-green {
  border-top: solid .3875rem #274 !important;
  /* border-top: solid .3875rem #163 !important; */
}
.top-brown {
  border-top: solid .3875rem #a73 !important;
}
.top-greyy {
  border-top: solid .3875rem #789 !important;
}
.top-beige {
  /* border-top: solid .45rem #a96 !important; */
  border-top: solid .45rem #985 !important;
}


/* NSPDR FOOTER
=============== */
footer.nspdr-footer {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer.nspdr-footer > .container-fluid {
  margin: 0 1rem;
  padding: 0;
}
@media (min-width: 576px) {
  footer.nspdr-footer > .container-fluid {
    margin: 0 2rem;
  }
}
@media (min-width: 768px) {
  footer.nspdr-footer > .container-fluid {
    margin: 0 3rem;
  }
}
@media (min-width: 992px) {
  footer.nspdr-footer > .container-fluid {
    margin: 0 4rem;
  }
}
@media (min-width: 1200px) {
  footer.nspdr-footer > .container-fluid {
    margin: 0 5rem;
  }
}

footer.nspdr-footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
footer.nspdr-footer ul li {
  display: inline-block;
}
footer.nspdr-footer ul li a {
  color: #555;
  padding: .5rem .67rem;
  font-weight: 600;
  font-size: .75rem;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
}
footer.nspdr-footer ul li a:hover {
  text-decoration: none;
  color: #333;
}

footer.nspdr-footer .copyright {
  color: #4d4d4d;
  padding: .5rem 0;
  font-weight: 600;
  font-size: .75rem;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
}

footer.nspdr-footer .social-media li {
  display: inline-block;
  position: relative;
  padding: 0 .75rem;
  padding-top: .25rem;
}
footer.nspdr-footer .social-media li[class*='--'] a {
  text-decoration: none;
  padding: 0 !important;
  font-size: 1.6rem;
  color: #666;
  -webkit-transition: all .4s cubic-bezier(.165,.84,.44,1);
  transition: all .4s cubic-bezier(.165,.84,.44,1);
}
footer.nspdr-footer .social-media li.--facebook {
  /* margin: 0 .2rem; */
  padding: 0 .95rem;
}
footer.nspdr-footer .social-media li.--facebook a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  color: #3f5fb6;
}
footer.nspdr-footer .social-media li.--twitter a:hover {
  /* transform: scale3d(1.25,1.25,1.25); */
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  color: #1da1f2;
}
footer.nspdr-footer .social-media li.--instagram a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  color: #f46f30;
}
footer.nspdr-footer .social-media li.--youtube a:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #c91e25;
}

footer.nspdr-footer ul.sibling-fade li {
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  transition: opacity .5s ease;
}
footer.nspdr-footer ul.sibling-fade:hover li:not(:hover) {
  opacity: .5;
}
ul.underline-on-hover li a {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
ul.underline-on-hover li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 10%;
  left: 0;
  background-color: #163;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: transform .5s ease-out;
  -webkit-transition: -webkit-transform .5s ease-out;
          transition: -webkit-transform .5s ease-out;
          transition: transform .5s ease-out;
          transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}
ul.underline-on-hover li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}


.modal-shadow {
  -webkit-box-shadow: 0 1.75rem 1.5rem 0 rgba(0,0,0,.2),
              0 2.5rem 4.75rem 0 rgba(0,0,0,.3);
  -moz-box-shadow: 0 1.75rem 1.5rem 0 rgba(0,0,0,.2),
              0 2.5rem 4.75rem 0 rgba(0,0,0,.3);
  box-shadow: 0 1.75rem 1.5rem 0 rgba(0,0,0,.2),
              0 2.5rem 4.75rem 0 rgba(0,0,0,.3);
}

.navbar-shadow {
  -webkit-box-shadow: 0 .725rem 1.875rem -.1875rem rgba(0,0,0,.5),
              0 1.875rem 1.725rem -1.8375rem rgba(0,0,0,.5) !important;
  -moz-box-shadow: 0 .725rem 1.875rem -.1875rem rgba(0,0,0,.5),
              0 1.875rem 1.725rem -1.8375rem rgba(0,0,0,.5) !important;
  box-shadow: 0 .725rem 1.875rem -.1875rem rgba(0,0,0,.5),
              0 1.875rem 1.725rem -1.8375rem rgba(0,0,0,.5) !important;
}
.navbar-brand.acronym-icon {
  display: inline-block;
  padding-top: .125rem;
  padding-bottom: .125rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand > img {
  margin-left: -.2rem;
  width: 100px;
  /* height: 18px; */
  /* height: 100%; */
  height: auto;
}
.navbar form > .btn {
  padding: .2rem .875rem;
  font-size: .875rem;
}

.navbar-toggler-icon.override {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewbox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); */
  background-image: none;
}
.navbar-dark .navbar-toggler-icon.override .hamburger-inner {
	background-color: rgba(255,255,255,.5);
}
.navbar-light .navbar-toggler-icon.override .hamburger-inner {
	background-color: rgba(0,0,0,.5);
}

/*
 * HAMBURGERS
 * @description CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: -.25rem -.75rem;
  /* padding: 15px 15px; */
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: .25s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: .85; }

.hamburger-box {
  width: 1.5em;
  height: 1.5em;
  box-sizing: content-box;
  margin: 0;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-left: 2.5px;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 25px;
    height: 2px;
    /* background-color: rgba(255,255,255,.5); */
    background-color: inherit;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: '';
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

/* SPIN */
.hamburger--spin .hamburger-inner {
  transition-duration: .22s;
  transition-timing-function: cubic-bezier(.55,.055,.675,.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top .1s .25s ease-in, opacity .1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom .1s .25s ease-in, transform .22s cubic-bezier(.55,.055,.675,.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top .1s ease-out, opacity .1s .12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom .1s ease-out, transform .22s .12s cubic-bezier(.215,.61,.355,1); }



.title {
	font-weight: 700;
	color: #f96332;
}
.title.alt {
  color: #375 !important;
}
.description {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5;
  letter-spacing: 0;
	color: #444;
}

.blockquote {
	border-left: none;
	border: 2.5px solid #888;
	padding: 1.15rem 2.5rem;
	font-size: 1.25rem;
	line-height: 1.75;
	border-radius: .5rem;
	background-color: #fff;
}
.blockquote small {
	font-size: .875rem;
	text-transform: uppercase;
}
.blockquote.blockquote-primary {
	border-color: #f96332;
	color: #f96332;
}
.blockquote.blockquote-primary small {
	color: #f96332;
}
.blockquote.blockquote-secondary {
	border-color: #375;
	color: #375;
}
.blockquote.blockquote-secondary small {
	color: #375;
}

.section-about-us {
	padding: 70px 0;
	position: relative;
}

.section-story-overview {
	padding: 50px 0;
}
.section-story-overview .image-container {
	height: 335px;
	position: relative;
	background-position: center center;
	background-size: cover;
	box-shadow: 0 .5rem 1.5rem 0 rgba(0,0,0,.3);
	border-radius: .5rem;
}
.section-story-overview .image-container.override-fluid {
  width: 100%;
  height: 335px;
	background-size: contain;
  background-repeat: no-repeat;
	box-shadow: none;
	border-radius: 0;
}
.section-story-overview .image-container.override-fluid.image-right,
.section-story-overview .image-container.image-right {
	z-index: 2;
	margin-left: -75px;
}
.section-story-overview .image-container.override-fluid.image-right + h3.title,
.section-story-overview .image-container.image-right + h3.title {
	margin-top: 45px;
}
.section-story-overview .image-container.override-fluid.image-left,
.section-story-overview .image-container.image-left {
	z-index: 1;
	margin-top: 120px;
}
.section-story-overview .image-container.override-fluid:nth-child(2),
.section-story-overview .image-container:nth-child(2) {
	height: 420px;
	margin-top: 150px;
	margin-left: -85px;
}
.section-story-overview p.blockquote {
	width: 280px;
	min-height: 180px;
	text-align: left;
	position: absolute;
	top: 400px;
	right: 100px;
	z-index: 0;
}

@keyframes chevron-animation {
  0% { transform: translate(0,0) scale(1,1); }
  50% { transform: translate(0,5px) scale(.8,.8); }
  100% { transform: translate(0,0) scale(1,1); }
}
.chevronblock svg {
	position: absolute;
	top: 50px;
	width: 30px;
  cursor: pointer;
  z-index: 9966;
	animation: chevron-animation 4s ease-in-out 0s infinite; }
  .chevronblock svg path { fill: #7e9aae; }


/* tabs
----------------------------- */
.tabs {
  width: 100%;
	opacity: 1;
  margin-top: 2rem;
  margin-bottom: .25rem;
  border-bottom: 1px solid #aaa;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.tabs > label {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
	order: 1;
	display: inline-block;
	height: 3.5rem;
	cursor: pointer;
	-webkit-transition: background .3s;
	-moz-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
	border-bottom: .125rem solid #bbb;
	padding: .75rem;
	color: #aaa;
	font-weight: 600 !important;
  text-align: center;
}
.tabs > label:hover,
.tabs > label:focus {
  color: #555;
  border-bottom: .125rem solid;
}
.tabs > [type="radio"],
.tabs > [type="checkbox"] {
	display: none;
	visibility: hidden;
}
.tabs > label + div {
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	-webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
	order: 2;
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	line-height: 1.7;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
	transition: -webkit-transform .3s, transform .3s;
}
.tabs > :checked + label {
	color: #111;
}
.tabs > :checked + label:nth-of-type(1) {
	border-bottom: .25rem solid #163;
	border-bottom-color: #163;
}
.tabs > :checked + label:nth-of-type(2) {
  border-bottom: .25rem solid;
	border-bottom-color: #887;
}
.tabs > :checked + label:nth-of-type(3) {
  border-bottom: .25rem solid;
	border-bottom-color: #985;
}
.tabs > :checked + label:nth-of-type(4) {
  border-bottom: .25rem solid;
  border-bottom-color: #a62;
}
.tabs > :checked + label + div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: auto;
  width: 100%;
  overflow: auto;
  margin: 0 0 2rem;
  line-height: 1.7;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  padding: .5rem;
  clip: auto;
  -webkit-clip-path: inset(0%);
  clip-path: inset(0%);
}

@media screen and (max-width: 767px) {
	.tabs {
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.tabs > label {
		-webkit-box-ordinal-group: initial;
    -ms-flex-order: initial;
		order: initial;
    text-align: left;
	}
	.tabs > :checked + label {
	  border-bottom: .25rem solid #1d9c9e;
	}
	.tabs > label + div {
		-webkit-box-ordinal-group: initial;
    -ms-flex-order: initial;
		order: initial;
    margin-left: -.05rem !important;
	}
}


/* animations
----------------------------- */
@-webkit-keyframes donut-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes donut-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.donut-loader {
  display: inline-block;
  margin: 0 auto;
  border: 6px solid rgba(0,0,0,.1);
  border-left-color: #56f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: donut-loader 1.8s linear infinite;
  animation: donut-loader 1.8s linear infinite; }


@-webkit-keyframes bouncing-loader {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    opacity: .1;
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px); } }
@keyframes bouncing-loader {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    opacity: .1;
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px); } }
.bouncing-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
	.bouncing-loader > div {
		width: 16px;
		height: 16px;
		margin: 48px 3.2px;
		background: #88a;
		border-radius: 50%;
		-webkit-animation: bouncing-loader .6s infinite alternate;
		animation: bouncing-loader .6s infinite alternate; }
		.bouncing-loader > div:nth-child(2) {
			-webkit-animation-delay: .2s;
			animation-delay: .2s; }
		.bouncing-loader > div:nth-child(3) {
			-webkit-animation-delay: .4s;
			animation-delay: .4s; }


/* progress-bar
----------------------------- */
.progress-wrapper {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background-color: #eee; }
  .progress-container {
    width: 100%;
    height: .25rem;
    background: #ccc; }
    .progress-bar {
      height: .25rem;
      background: #56f;
      background: linear-gradient(to right, #56f, #b34) !important;
      width: 0%; }

/* ============================================================ */

.pre    { white-space: pre; }
.wrap   { white-space: normal }
.nowrap { white-space: nowrap; }

.kern {
  -webkit-font-feature-settings: "kern","liga","pnum";
     -moz-font-feature-settings: "kern","liga","pnum";
          font-feature-settings: "kern","liga","pnum"; }

.measure-std    { max-width: 40rem; }
.measure-wide   { max-width: 56rem; }
.measure-narrow { max-width: 32rem; }

/* [class^="measure-"] p:not(:first-child):not([class^="para-"]) { */
/* [class^="measure-"] p:not([class^="para"]) {
  text-indent: 1rem;
  margin-top: -.5rem; } */

/* depreciated
----------------------------- */
.row-vh {
  height: 100vh;
	display: -webkit-box;
  display: -ms-flexbox;
	display: flex;
  -ms-flex-wrap: row wrap;
	flex-wrap: row wrap; }
  .row-vh .left-container {
		-webkit-box-flex: 50%;
    -ms-flex: 50%;
		flex: 50%;
    padding: 2.5rem;
    border: 1px solid red; }
  .row-vh .right-container {
		-webkit-box-flex: 50%;
    -ms-flex: 50%;
		flex: 50%;
    padding: 2.5rem;
    border: 1px solid blue; }


/* boomerang-uikit
----------------------------- */
/* .body-backdrop {
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1040;
} */
.card-img-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background-size: cover;
  border-radius: .125rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .7s cubic-bezier(.2,1,.22,1);
  transition: all .7s cubic-bezier(.2,1,.22,1);
}
.card:hover .card-img-bg {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.card-img-bg ~ .card-body {
  position: relative;
  min-height: 400px;
}

.overflow-visible {
  overflow: visible !important;
}
.overflow-hidden {
  overflow: hidden !important;
}



/* ----------------------------------------------
* Title: 			NSPDR Ecosystem CSS
* Author: 		Jonathan Cleary
* Date: 			2018-08-12
* Version: 		1.2.0
---------------------------------------------- */


/* Table of Contents
--------------------
# Normalize
# Typography		(paragraphs, headings, lists)
# Page Layout		(body, primary divs)
	# Components	(header, footer, sidebar)
	# Peripheral	(page regions, etc.)
	# Navigation	(menus, dropdowns, etc.)
# Base Styles		(buttons, forms, tables, etc.)
# Frameworks		(.clear, .center, etc.)
*/


/* NORMALIZED
============= */

/* TYPOGRAPHY
============= */

/* PAGELAYOUT
============= */

/* COMPONENTS
============= */

/* PERIPHERAL
============= */

/* NAVIGATION
============= */

/* BASESTYLES
============= */

/* FRAMEWORKS
============= */


/*
positioning
box-model
color
text
misc
*/


/* fluid-text
---------------------------------------------- */
/* html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  	 -moz-text-size-adjust: 100%;
  		-ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

html { font-size: calc(.13em + 1vw); }

@media (min-width: 480px) {
  html { font-size: calc(.15em + 1vw); }
}
@media (min-width: 768px) {
  html { font-size: calc(.16em + 1vw); }
}
@media (min-width: 1200px) {
  html { font-size: calc(.18em + 1vw); }
} */

/* html { font-size: calc(.16rem + 1vw); }
@media screen and (max-width: 768px) { html { font-size: calc(.14rem + 1.5vw); } }
@media screen and (max-width: 480px) { html { font-size: calc(.12rem + 2.0vw); } } */


/* --nspdr1: #052;
--nspdr2: #ea1;
--nspdr: #153;
--blue: #17f;
--indigo: #61e;
--purple: #74b;
--pink: #e48;
--red: #d34;
--orange: #f71;
--yellow: #fb1;
--green: #3a4;
--teal: #2c9;
--cyan: #29b;
--white: #fff;
--gray: #678;
--gray-dark: #345;
--primary: #17f;
--secondary: #678;
--success: #3a4;
--info: #2aa;
--warning: #fb1;
--danger: #d34;
--light: #f5f5f5;
--dark: #345;
--nspdr: #115b2a;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40; */
