/*
	stylesheet | san francisco | pro display | font-family
	http://nspdr.info/wwwroot/css/fonts/SFProDisplay-[weight].[format]
*/

@font-face {
	font-family: 'SF Pro Display';
	/* src: url('fonts/SFProDisplay-Heavy.woff') format('woff'); */
	src: url('fonts/SFProDisplay-Heavy.woff2') format('woff2'),
			 url('fonts/SFProDisplay-Heavy.woff') format('woff');
			 /* url('fonts/SFProDisplay-Heavy.ttf') format('truetype'); */
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	/* src: url('fonts/SFProDisplay-Bold.woff') format('woff'); */
	src: url('fonts/SFProDisplay-Bold.woff2') format('woff2'),
			 url('fonts/SFProDisplay-Bold.woff') format('woff');
			 /* url('fonts/SFProDisplay-Bold.ttf') format('truetype'); */
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	/* src: url('fonts/SFProDisplay-Semibold.woff') format('woff'); */
	src: url('fonts/SFProDisplay-Semibold.woff2') format('woff2'),
			 url('fonts/SFProDisplay-Semibold.woff') format('woff');
			 /* url('fonts/SFProDisplay-Semibold.ttf') format('truetype'); */
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	/* src: url('fonts/SFProDisplay-Medium.woff') format('woff'); */
	src: url('fonts/SFProDisplay-Medium.woff2') format('woff2'),
			 url('fonts/SFProDisplay-Medium.woff') format('woff');
			 /* url('fonts/SFProDisplay-Medium.ttf') format('truetype'); */
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	/* src: url('fonts/SFProDisplay-Regular.woff') format('woff'); */
	src: url('fonts/SFProDisplay-Regular.woff2') format('woff2'),
			 url('fonts/SFProDisplay-Regular.woff') format('woff');
			 /* url('fonts/SFProDisplay-Regular.ttf') format('truetype'); */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	/* src: url('fonts/SFProDisplay-Light.woff') format('woff'); */
	src: url('fonts/SFProDisplay-Light.woff2') format('woff2'),
			 url('fonts/SFProDisplay-Light.woff') format('woff');
			 /* url('fonts/SFProDisplay-Light.ttf') format('truetype'); */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	/* src: url('fonts/SFProDisplay-Thin.woff') format('woff'); */
	src: url('fonts/SFProDisplay-Thin.woff2') format('woff2'),
			 url('fonts/SFProDisplay-Thin.woff') format('woff');
			 /* url('fonts/SFProDisplay-Thin.ttf') format('truetype'); */
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	/* src: url('fonts/SFProDisplay-Ultralight.woff') format('woff'); */
	src: url('fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
			 url('fonts/SFProDisplay-Ultralight.woff') format('woff');
			 /* url('fonts/SFProDisplay-Ultralight.ttf') format('truetype'); */
	font-weight: 100;
	font-style: normal;
}
